/* body + background */

body {
    justify-content: left;
    align-items: left;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(232deg, #174621, #0f2f16, #000000);
    background-size: 800% 800%;
    -webkit-animation: BackgroundGradient 10s ease infinite;
    -moz-animation: BackgroundGradient 10s ease infinite;
    animation: BackgroundGradient 10s ease infinite;
}

@-webkit-keyframes BackgroundGradient {
    0% {
        background-position: 0% 99%
    }
    50% {
        background-position: 100% 2%
    }
    100% {
        background-position: 0% 99%
    }
}

@-moz-keyframes BackgroundGradient {
    0% {
        background-position: 0% 99%
    }
    50% {
        background-position: 100% 2%
    }
    100% {
        background-position: 0% 99%
    }
}

@keyframes BackgroundGradient {
    0% {
        background-position: 0% 99%
    }
    50% {
        background-position: 100% 2%
    }
    100% {
        background-position: 0% 99%
    }
}


/* MODAL */

#modal {
    background-image: url("../album-cover.jpg");
    background-size: cover;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 600px;
    border-style: solid;
    border-color: black;
    border-radius: 30px;
}

#modal-contents {
    position: absolute;
    bottom: 0px;
    padding-left: 63px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 15px;
    font-style: italic;
}

#modal-description {
    margin-bottom: 20px;
}

.modal-button {
    color: white;
    background-color: #2f8b42;
    border-style: solid;
    border-color: white;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    opacity: 0.6;
    transition: opacity 0.25s;
}

.modal-button:hover {
    opacity: 1;
    border-style: solid;
    border-color: black;
}

.gltd-link {
    color: #174621;
}

.gltd-link:visited {
    color: #174621;
}

.gltd-link:hover {
    color: black;
}


/* Purchase Link */

#purchase-link {
    position: fixed;
    top: 0%;
    right: 3%;
    align-items: center;
    text-align: center;
    color: #ffe231;
    margin-bottom: 5px;
    font-size: 30px;
}

#purchase-link {
    z-index: 100;
    position: fixed;
    top: 0%;
    right: 3%;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 36px;
    line-height: 0.75;
}

#buy-text {
    padding-top: -5px;
    font-size: 18px;
}

#purchase-link>a {
    text-decoration: none;
    color: white;
}

#purchase-link>a:visited {
    color: white;
}

#purchase-link>a:hover {
    color: black;
}


/* VIDEOS */

#video-container {
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-align: start;
    flex-direction: row;
    justify-content: space-between;
}

.video-panel-portrait {
    height: 300px;
    flex: 0 33%;
}

.video-panel-landscape {
    height: 300px;
    flex: 0 50%;
}


/* MOBILE */

@media only screen and (max-width: 500px) {
    .video-panel-landscape {
        flex: 0 100%;
    }
    #modal {
        width: 300px;
        height: 300px;
    }
    #modal-contents {
        position: absolute;
        padding-left: 0px;
        padding-bottom: 0px;
        margin-bottom: -10px;
        text-align: center;
        font-size: 10px;
        font-style: italic;
        align-content: center;
    }
    .modal-button {
        color: white;
        background-color: #2f8b42;
        border-style: solid;
        border-color: white;
        box-sizing: border-box;
        padding: 2px;
        margin-bottom: 14px;
        border-radius: 2px;
        font-size: 10px;
        opacity: 0.6;
        transition: opacity 0.25s;
    }
}